<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Produto</th>
        <th scope="col">Quantidade</th>
        <th scope="col">valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td style="max-width: 100px;"><img [src]="produto.img" class="img-thumbnail"></td>
        <td>{{produto.description}}</td>
        <td>{{produto.estoque}}</td>
        <td>{{produto.valor}}</td>
      </tr>
    </tbody>
  </table>

<button routerLink="/checkout" type="button" class="btn btn-primary btn-cart float-right">Checkout</button>