.banner {
    background-color: black;
    background-image: url('../assets/banner.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin-bottom: 0px; 
}